       :root {
            --primary-color: #C667FF;
            --secondary-color: #9D34D4;
            --background-color: #F5F5F7;
            --text-color: #1e293b;
            --border-color: #e2e8f0;
            --card-background: #ffffff;
            --error-color: #dc2626;
        }

        @font-face {
            font-family: 'Open Sans';
            src: url("/OpenSans-ExtraBold.ttf") format('truetype'), url("/OpenSans-ExtraBold.ttf") format('ttf');
            font-weight: 800;
            font-style: normal;
            font-display: swap;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        body {
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
            margin: 0;
            padding: 0;
            background: var(--background-color);
            color: var(--text-color);
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;
            background-color: rgba(255, 255, 255, 0.9);
            backdrop-filter: blur(5px);
            position: fixed;
            top: 0;
            height: 50px;
            left: 0;
            z-index: 1000;
            box-sizing: border-box;
            padding: 15px 3 10px 10px;
            width: 100%;
            left: 0;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);

        }

        .header-left {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-family: 'Open Sans', sans-serif;

        }
        @media (max-width: 500px) {
            .logo-text {
                display: none !important;
            }
        }

        .logo-text {
            position: relative;
            bottom: 5px;
            left: 3px;
        }

        .navbutton {
            background-color: var(--primary-color);
            padding: 6px 14px;
            font-size: 1.1rem;
            border: 2px solid var(--primary-color);
            border-radius: 40px;
            color: #fff !important;
            transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
        }

        .navbutton:hover {
            background-color: var(--secondary-color);
            border: 2px solid var(--secondary-color);

        }

        .nav-links {
            margin-left: auto;
            margin-right: 5px;
            display: flex;
            align-items: center;
        }

        .nav-links img {
            position: relative;
            top: 5px;
        }

        .nav-links a {
            margin-left: 0;
            margin-right: 10px;
            text-decoration: none;
            color: black;
            font-weight: 500;
            transition: color 0.3s ease;
            border-radius: 10px;
            padding: 5px 10px 10px;
        }

        .nav-links a:hover {
            background-color: rgba(0, 0, 0, 0.032);
            border-radius: 10px;
            padding: 5px 10px 10px;
        }

        .logo {
            position: relative;
            top: 5px;
        }

        .header h1 {
            margin: 0;
            font-size: 1.8rem;
            color: var(--text-color);
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
        }

        .container {
            width: 90%;
            max-width: 550px;
            margin: 150px auto;
        }

        h1 {
            text-align: left;
            font-size: 2.6rem;
            margin-bottom: 10px;
            margin-top: 0;
            color: var(--text-color);
        }

        .mmw-title {
            text-align: center;
            font-size: 1.6rem;
            margin-bottom: 20px;
            margin-top: 0;
        }

        p {
            line-height: 1.6;
            text-align: left;
        }

        .back-link {
            display: block;
            margin-bottom: 20px;
            text-align: left;
            color: var(--text-color);
            text-decoration: none;
        }

        .back-link:hover {
            text-decoration: underline;
        }

        a {
            color: var(--text-color);
        }

        footer {
            background-color: var(--text-color);
            padding: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 0.8em;
            margin-top: 40px;
            position: relative;
            color: #ffffff;
        }

        .footer-content {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 30px;
        }

        .footer-links {
            display: flex;
            align-items: center;
        }

        .separator {
            color: #9b9999;
            margin: 0 3px;
            font-size: 1em;
        }

        .footer-link {
            color: #ffffff;
            transition: color 0.3s;
            text-decoration: none;
            font-size: 15px;

        }

        .footer-link:hover {
            color: var(--primary-color);
            text-decoration: none;
        }

        .copyright {
            margin: 0;
            font-size: 15px;
        }

        @media (max-width: 720px) {
            .footer-content {
                flex-direction: column;
                margin-bottom: 20px;
            }

            .footer-links {
                margin-bottom: 10px;
            }
        }
        .popup {
            display: none;
            position: fixed;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.32);
            justify-content: center;
            align-items: center;
            z-index: 1100;
        }

        .popup-content {
            background-color: white;
            padding: 20px;
            border-radius: 20px;
            text-align: left;
            max-width: 300px;
            display: flex;
            flex-direction: column;
            align-items: space-between;
        }

        .accept-terms-button,
        .decline-terms-button {
            margin: 5px;
            padding: 12px 20px;
            border-radius: 20px;
            cursor: pointer;
            font-size: 0.9rem;
        }

        .accept-terms-button {
            background-color: var(--primary-color);
            color: white;
            border: none;
            transition: all 0.3s ease;
        }

        .decline-terms-button {
            background-color: var(--border-color);
            color: black;
            border: none;
        }

        .accept-terms-button:hover {
            background-color: #b73cfe;
        }

        .decline-terms-button:hover {
            background-color: rgb(215, 215, 215);
        }

        .legal-purposes {
            margin: 0;
            padding-left: 20px;
        }

        .popup-content a {
            background-color: #f0f0f0;
            padding: 3px;
            border-radius: 6px;
            text-decoration: none;
            transition: all 0.1s ease;
        }
        .popup-content a:hover {
            background-color: #e6e6e6;
        }

        .table-of-contents {
            line-height: 1.5;
            background-color: #f0f0f0;
            padding: 10px;
            border-radius: 10px;
            border: 1px solid #ddd;
        }

        .table-of-contents li {
            margin-left: 30px;
        }

        .table-of-contents a {
            text-decoration: none;
            transition: all 0.3s ease;
        }

        .table-of-contents a:hover {
            text-decoration: underline;
        }

        .whitespace {
            height: 15px;
        }
        .back-arrow {
            position: relative;
            top: 2.5px;
            margin-right: -8px;
            height: 20px;
            width: 20px;
        }
        .down-arrow {
            position: relative;
            top: 4px;

        }

        code {
            padding: 2px 4px;
            border-radius: 4px;
            font-size: 1em;
        }
        pre {
            background-color: #363a3f;
            color: white;
            padding: 8px;
            border-radius: 10px;
            overflow-x: auto;
            white-space: pre-wrap;
            border: 1px solid #656565;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        table,
        td,
        th {
            border: 1px solid #ddd;
        }
        td,
        th {
            padding: 12px;
            text-align: left;
        }
        /* From Uiverse.io by vinodjangid07 */
        .button {
            width: 135px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            background-color: var(--primary-color);
            border-radius: 30px;
            color: #ffffff;
            font-weight: 600;
            border: none;
            position: relative;
            cursor: pointer;
            transition-duration: 0.2s;
            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.116);
            padding-left: 8px;
            transition-duration: 0.5s;
            text-decoration: none;
        }

        .svgIcon {
            height: 28px;
            transition-duration: 1.5s;
            fill: rgb(255, 255, 255);

        }

        .bell path {
            fill: rgb(255, 255, 255);
        }

        .button:hover {
            background-color: var(--text-color);
            transition-duration: 0.5s;
        }

        .button:active {
            transform: scale(0.97);
            transition-duration: 0.2s;
        }

        .button:hover .svgIcon {
            transform: rotate(250deg);
            transition-duration: 1.5s;
        }

        .inlinecode {
            padding: 0 5px;
            background-color: #efefef;
            border-radius: 4px;
        }

        .screenshot {
            width: 100%;
            border-radius: 10px;
            border: 1px solid #ddd;
        }
        .pink-section {
            padding: 40px 20px;
            background: linear-gradient(to bottom, #ba71e3, #b75de4);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .pink-section h2 {
            color: #ffffff;
            font-size: 2rem;
        }

        .white-p {
            color: #ffffff;
            font-size: 1.3rem;
            margin-bottom: 40px;
            margin-top: -20px;
        }

        .get-started-button {
            width: 220px;
            height: 30px;
            border-radius: 45px;
            transition: all 0.3s;
            cursor: pointer;
            background: var(--text-color);
            font-size: 1.2em;
            font-weight: 550;
            color: #ffffff;
            border: 1px solid #79797995;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .get-started-button:hover {
            background: var(--secondary-color);
            border: 1px solid #70348f95;
            color: white;
        }
